/*========================================
 General
========================================*/
:root {
    --button-default: #816cff;
    --button-hover: #84cfd0;
    --button-focus: #fff;
    --white: #fff;
    --turquoise: #84cfd0;
    --dark: #000235;
    --purple: #816cff;
    --gray: #808080;
    --light-gray: #d9d9d9;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0 !important;
}
body {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark);
}
/* Clearfix Child Elements */
.clearfix:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
    clear: both;
}
/* Hide From IE/Mac */
.clearfix {
    display: block;
    clear: both;
}
/*========================================
 Header
========================================*/
#header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: transform 0.3s ease, background 0.3s ease;
}
.header-bg {
    position: relative;
    background-color: #816cffc2 !important;
}
.header-bg::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}
.header-scroll-down {
    transform: translateY(-100%);
}
.header-scroll-up {
    transform: translateY(0);
}
.logo {
    color: var(--white);
}
.logo .name {
    font-size: 22.08294105529785px;
    letter-spacing: 0.09em;
    font-weight: 700;
    white-space: nowrap;
}
.tagline {
    font-size: 14.052780151367188px;
    letter-spacing: 2.65px;
    font-weight: 500;
    white-space: nowrap;
}
.navbar-toggler .navbar-toggler-icon {
    width: 1.75em;
    height: 1.75em;
    filter: invert(1);
}
.navbar .nav .nav-link {
    padding: 0;
    line-height: 44px;
    color: var(--white);
}
.navbar .nav .nav-link:hover {
    color: var(--turquoise);
}
.header-bg .nav .button {
    background-color: var(--white);
}
/* Media Queries */
@media screen and (max-width: 991px) {
    .offcanvas {
        background-color: #816cffc2;
        backdrop-filter: blur(10px);
        /* Blurring effect */
    }
    .offcanvas-header {
        background-color: #816cffc2;
    }
    .navbar .nav > .nav-item:not(:last-child) {
        border-bottom: solid 1px #816cffc2;
    }
}
@media screen and (min-width: 992px) {
    .navbar .nav .nav-item {
        text-align: center;
    }
}
@media screen and (min-width: 1200px) {
    .navbar .nav {
        max-width: 90%;
    }
}
/*========================================
 Content
========================================*/
a {
    text-decoration: none;
}
h1, h2 {
    font-weight: 700;
}
h3 {
    font-weight: 600;
}
.text-turquoise {
    color: var(--turquoise);
}
.text-white {
    color: var(--white);
}
.text-gray {
    color: var(--gray);
}
.text-dark {
    color: var(--dark);
}
.text-purple {
    color: var(--purple);
}
.text {
    line-height: 140%;
}
.text.larger {
    font-size: 18px;
}
.container, .container-fluid {
    position: relative;
    padding: 0 15px;
}
.name {
    font-size: 20px;
}
.heading :is(.title, .subtitle), .title {
    margin-bottom: 0;
    font-weight: 600;
    line-height: 120%;
}
h1.title, .h1.title {
    font-size: clamp(30px, 8vw, 48px);
}
h2.title {
    font-size: clamp(22px, 8vw, 32px);
}
h3.title, .subtitle {
    font-size: clamp(16px, 8vw, 20px);
}
.button {
    background: var(--button-default);
    padding: 10px 20px;
    border-radius: 4px;
    transition: background 0.3s ease-out;
    cursor: pointer;
}
.button:hover {
    background: var(--button-hover);
}
.button :is(:focus, :visited) {
    background: var(--button-focus);
}
.button-text {
    color: var(--dark);
    text-align: center;
    font-weight: 500;
    position: relative;
}
.button-text.larger {
    font-size: 20px;
}
/*========================================
 Welcome Section
========================================*/
.welcome-bg {
    background-color: var(--dark);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.welcome-bg img {
    position: absolute;
    top: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    transform: translateY(-50%);
}
.welcome-text .title span {
    white-space: nowrap;
}
/* Media Queries */
@media screen and (min-width: 992px) {
    .welcome-text {
        width: 50%;
    }
}
/* Landscape mode for medium mobile devices */
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
    .welcome-section {
        height: 650px !important;
    }
}
/* Landscape mode for large mobile devices */
@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
    .welcome-section {
        height: 750px !important;
    }
}
/* Landscape mode for extra-large mobile devices */
@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {
    .welcome-section {
        height: 900px !important;
    }
}
/*========================================
 Services Section
========================================*/
.service-section {
    padding-bottom: 100px;
}
.service-heading {
    background: var(--turquoise);
    border-radius: 6px;
    padding: 25px 15px 25px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-basis: 25%;
}
.services {
    color: var(--purple);
    text-align: left;
    font-size: var(--var-sds-typography-subheading-size-medium, 20px);
    line-height: 120%;
    font-weight: 700;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
    flex-basis: 75%;
}
.service-boxes {
    margin-top: auto;
    flex-grow: 1;
    flex-basis: 75%;
}
.service-box {
    background: var(--white);
    border-radius: 6px;
    padding: 25px 15px 40px 15px;
    box-shadow: 0px 15px 34px -8px rgba(0, 0, 0, 0.10);
}
.lawyer-icon {
    border-radius: 6px;
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    position: relative;
}
.ellipse {
    background: var(--light-gray);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
}
.icon {
    width: 35px;
    height: 54.69%;
    position: absolute;
    left: calc(50% - 17px);
    bottom: 21.88%;
    top: 23.44%;
    overflow: visible;
}
.service-button-default {
    background: var(--purple);
    border-radius: 20px;
    opacity: 0;
    padding: 12.63px;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    bottom: -80px;
    transform-origin: 0 0;
    transition: bottom 0.3s ease-out, opacity 0.5s ease-out;
}
.service-box:hover .service-button-default {
    bottom: calc(40px / -2);
    opacity: 1;
}
.service-button-default img {
    width: 14px;
    filter: invert(1);
}
@media screen and (min-width: 768px) {
    .service-boxes {
        grid-template-columns: repeat(3, 1fr);
    }
}
/*========================================
 About Section
========================================*/
.about-section {
    padding-bottom: 100px;
}
.about-content {
    padding: clamp(15px, 4vw, 60px);
}
.about-tabs ul button {
    background: var(--light-gray) !important;
    font-weight: 500;
    color: var(--dark) !important;
    border-radius: 6px 6px 0px 0px !important;
}
.about-tabs ul button:is(:hover, .active) {
    background: var(--purple) !important;
}
.tab-about-content {
    border-radius: 0 0 6px 6px;
    overflow: hidden;
}
.tab-about-content .tab-pane.active {
    background: var(--purple) !important;
}
.ribbon {
    width: 277px;
    height: 60px;
    left: 0;
    bottom: 30px;
}
.ribbon-text {
    font-size: 16px;
    font-weight: 600;
    z-index: 1;
}
.ribbon-vector {
    width: 26px;
    height: 60px;
    position: absolute;
    left: 242px;
    top: 5px;
    overflow: visible;
}
.rectangle {
    background: var(--turquoise);
    padding: 20px 30px 20px 30px;
    width: 247px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
}
/* Media Queries */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .about-image {
        transform: translateY(10%);
    }
}
@media screen and (max-width: 1199px) {
    .about-image img {
        object-fit: cover;
        height: 100%;
    }
}
@media screen and (max-width: 991px) {
    .about-image {
        max-height: 400px;
    }
}
@media screen and (min-width: 1200px) {
    .ribbon {
        position: absolute;
        left: initial;
        right: -277px;
    }
}
/*========================================
 Case Section
========================================*/
.case-section {
    padding-bottom: 100px;
}
.card-img-overlay {
    background-color: transparent;
    left: 50%;
    top: 50%;
    width: 95%;
    height: 93%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: background 0.6s ease-out, opacity 0.2s ease-in;
}
.card:hover .card-img-overlay {
    background: #84cfd0ad;
    opacity: 1;
}
/*========================================
 Attorney Section
========================================*/
.attorney-section {
    padding-bottom: 100px;
}
.card-container {
    perspective: 1000px;
}
.card-flip {
    position: relative;
    width: 100%;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.card-flip.is-flipped {
    transform: rotateY(180deg);
}
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
}
.card-front {
    background-color: var(--turquoise);
    align-items: start;
    color: var(--dark);
}
.card-back {
    background-color: var(--dark);
    color: var(--white);
    transform: rotateY(180deg);
}
.staff .photo {
    width: 50px;
    height: 50px;
}
.staff-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}
.staff-title {
    font-weight: 400;
}
:is(.card-front, .card-back) :is(.btn-close, .btn-open) {
    right: -5px;
    bottom: -5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 6px 3px 0 3px;
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
:is(.card-front, .card-back):hover :is(.btn-close, .btn-open) {
    width: 60px;
    height: 60px;
}
.btn-open {
    background-color: var(--dark) !important;
}
.btn-open img {
    filter: invert(1);
}
.btn-close {
    background-color: var(--turquoise) !important;
    font-size: 12px;
}
/* Media Queries */
@media screen and (max-width: 480px) {
    .card-container {
        perspective: 800px;
    }
}
@media screen and (min-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
/*========================================
 Form Section
========================================*/
.form-section {
    padding-bottom: 100px;
}
.form-img img {
    max-height: 625px;
    object-fit: cover;
}
.form-box {
    background: var(--dark);
    padding: clamp(30px, 8vw, 60px);
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    position: relative;
    overflow: hidden;
}
.dots-vector {
    opacity: 0.5;
    flex-shrink: 0;
    width: 183.86px;
    height: 176.35px;
    position: absolute;
    right: -138.86px;
    bottom: -131.23px;
    transform: translate(-183.86px, -176.35px);
    overflow: visible;
}
.input, .textbox {
    background: var(--white);
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    padding: 10px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
    transition: background 0.2s ease-out, border 0.5s ease-out;
}
.input {
    height: 40px;
}
:is(input, textarea)::placeholder {
    opacity: 0;
}
.label {
    left: 10px;
    transition: top 0.1s ease-out, color 0.3s ease-out;
    pointer-events: none;
}
.label span {
    background-color: transparent;
    padding: 0 5px;
}
.form-message .label {
    top: 20px;
}
:is(input, textarea):is(:focus, :active), :is(input, textarea):not(:placeholder-shown) {
    background-color: var(--dark);
    border-color: var(--turquoise);
    color: var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--white);
}
:is(input, textarea):is(:focus, :active) ~ label, :is(input, textarea):not(:placeholder-shown) ~ label {
    top: 0 !important;
    font-size: 12px;
    color: var(--turquoise);
}
:is(input, textarea):is(:focus, :active) ~ label span, :is(input, textarea):not(:placeholder-shown) ~ label span {
    background-color: var(--dark);
}
/* Media Queries */
@media screen and (min-width: 992px) {
    .form-section {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1024px) {
    .input, .textbox {
        width: 75%;
    }
}
/*========================================
 Testimonials Section
========================================*/
.testimonial-section {
    padding-bottom: 100px;
}
.testimonial {
    background-color: var(--white);
    /*width: 350px;*/
    height: 100%;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.05);
    border-width: 1px;
    box-shadow: 0px 15px 34px -8px rgba(0, 0, 0, 0.10);
}
.testimonial-item {
    background-color: var(--white);
}
.reviewer-name {
    font-size: 20px;
    line-height: 1.2;
}
.testimonials .glide__arrows {
    width: 125px;
    height: 50px;
}
.testimonials .glide__arrow--left {
    left: 0;
}
.testimonials .glide__arrow--right {
    right: 0;
}
/*========================================
 Blog Section
========================================*/
.blog-section {
    background-color: #F2F2F2;
    padding: 100px 0;
}
.slanted-vector {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.blog-container {
    max-width: 100%;
    overscroll-behavior-x: contain;
    --size: clamp(12rem, 1rem + 50vw, 25.5rem);
    --gutter: 2rem;
    scroll-snap-type: x mandatory;
    padding-block: var(--gutter) 15px;
    grid-template-columns: [full-start] 1fr [content-start] min(var(--size), 100% - var(--gutter) * 2) [content-end] 1fr [full-end];
}
.blog-container::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);*/
    background-color: var(--white);
}
.blog-container::-webkit-scrollbar {
    width: 12px;
    background-color: #F2F2F2;
}
.blog-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .25);
    background-color: var(--turquoise);
}
.blog-container, .blogs {
    grid-area: content-start;
    /* Ensures the children are in a row */
    transform: rotateX(180deg);
}
.blogs::after {
    content: "";
    padding-inline-end: max(var(--gutter), (100vw - var(--size)) / 2 - var(--gutter));
}
.blogs > * {
    background: var(--white);
    min-width: 330px;
    /* Set minimum width to 350px */
    scroll-snap-align: center;
    border-radius: 0.5rem;
    border-color: rgba(128, 128, 128, 0.05) !important;
    box-shadow: 0px 15px 34px -8px rgba(0, 0, 0, 0.10);
}
.blog-title h4 {
    font-weight: 400;
}
.blog-image {
    object-fit: cover;
}
.date-container {
    background-color: var(--purple);
    left: 20px;
    color: var(--white);
}
.day {
    font-size: 36px;
    line-height: 120%;
    font-weight: 700;
}
.year-month {
    font-size: 14px;
    line-height: 120%;
    font-weight: 400;
}
.carrot {
    width: 20px;
    height: 20px;
}
.blog-snippet p {
    font-size: 16px;
    color: var(--gray);
}
@supports (animation-timeline: view()) {
    .blogs > * {
        --scale: 0.9;
        --offset: var(--gap);
        animation: scale linear both, fade linear both;
        animation-timeline: view(inline);
        animation-range: cover 30% cover 70%, cover 5% cover 95%;
    }
    @keyframes scale {
        from,
        to {
            scale: var(--scale);
        }
        50% {
            scale: 1;
        }
        from {
            translate: var(--offset) 0;
        }
        to {
            translate: calc(var(--offset) * -1) 0;
        }
    }
    @keyframes fade {
        from,
        to {
            opacity: 0;
        }
        10%,
        90% {
            opacity: 1;
        }
    }
}
/* Media Queries */
@media screen and (min-width: 768px) {
    .blogs {
        /* Ensures the children are in a row */
        gap: var(--gap);
    }
}
/*========================================
 Footer
========================================*/
#footer {
    background-color: var(--dark);
    padding: 100px 0;
    color: var(--white);
}
.footer .title {
    font-weight: 400;
}
.footer a {
    color: var(--white);
    transition: color 0.3s ease-out;
}
.footer a:hover {
    color: var(--turquoise);
}
.socials > [class*="social-"] {
    position: relative;
    width: 40px;
    height: 40px;
}
.socials .ellipse {
    background-color: var(--turquoise);
}
.socials svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*========================================
 Misc
========================================*/
/* Glide JS */
.glide__slide {
    height: auto !important;
}
.glide__arrow {
    border: none !important;
    box-shadow: none !important;
    width: 50px;
    height: 50px;
    background-size: cover;
    padding: 0 !important;
    /* Adjust as needed */
    filter: brightness(0) saturate(100%) invert(88%) sepia(30%) saturate(469%) hue-rotate(124deg) brightness(86%) contrast(87%);
}
.glide__arrow--left {
    background-image: url('../../assets/images/left-arrow_icon.svg');
}
.glide__arrow--right {
    background-image: url('../../assets/images/right-arrow_icon.svg');
}
.glide__bullets {
    bottom: -15px !important;
}
.glide__bullet {
    background-color: var(--light-gray) !important;
    width: 12px !important;
    height: 12px !important;
}
.glide__bullet--active {
    background-color: var(--turquoise) !important;
}